<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039387784271-kb5hcgic0sjcpk1h0fi6bkcjhjb7s0kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039387784271-kb5hcgic0sjcpk1h0fi6bkcjhjb7s0kd</string>
	<key>API_KEY</key>
	<string>AIzaSyCVRNz8_o85_SXBNOf8RHwUyjwvc0YIhzo</string>
	<key>GCM_SENDER_ID</key>
	<string>1039387784271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meniMedical</string>
	<key>PROJECT_ID</key>
	<string>mini-medical</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-medical.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039387784271:ios:06913f664975ca0592a63a</string>
</dict>
</plist>